{#
  Generates C++ declaration
  @grammar:   functionCall : calleeName=NAME '(' (expression (',' expression)*)? ')';
  @param ast ASTFunctionCall
#}
{%- if utils.is_integrate(ast) -%}
neuron_model_integrate(exc_input, inh_input, external_bias, neuron);
{%- elif not helper.has_threshold_block(ast) %}
{{printer.print_method_call(ast)}};
{%- endif -%}
