{#
  Generates C++ declaration
  @grammar:   functionCall : calleeName=NAME '(' (expression (',' expression)*)? ')';
  @param ast ASTFunctionCall
#}
{%- if utils.is_integrate(ast) -%}
<---- integrate ----->
{%- elif not helper.has_threshold_block(ast) %}
{{printer.print_method_call(ast)}};
{%- endif -%}
