#include "{{neuronName}}.h"
#include <math.h>

#include <debug.h>

static global_neuron_params_pointer_t global_params;

void neuron_model_set_global_neuron_params(global_neuron_params_pointer_t params){
    global_params = params;
}

state_t neuron_model_state_update(
        input_t exc_input, input_t inh_input, input_t external_bias,
        neuron_pointer_t neuron){
    {%- set dynamics = neuron.get_update_blocks() -%}
    {%- with ast = dynamics.get_block() -%}{%- filter indent(2,True) -%}
    {%- include "Block.jinja2" -%}{%- endfilter -%}
    {%- endwith %}

    {%- set membrane_var = helper.get_membrane_variable(neuron) %}
    return {{printer.print_origin(membrane_var)}}{{membrane_var.name}};
}

state_t neuron_model_get_membrane_voltage(neuron_pointer_t neuron) {
    {%- set membrane_var = helper.get_membrane_variable(neuron) %}
    return {{printer.print_origin(membrane_var)}}{{membrane_var.name}};
}

void neuron_model_has_spiked(neuron_pointer_t neuron) {
    // TODO: Perform operations required to reset the state after a spike
    {%- for state in neuron.get_state_symbols() -%}
    {{printer.print_origin(state)}}{{names.name(state)}} = {{printer.print_expression(state.get_initial_value())}};
    {% endfor %}
    {% for init in neuron.get_initial_values_symbols() -%}
    /*{{init.get_symbol_name()}} [{{init.get_type_symbol().print_symbol()}}] {{init.print_comment()}}*/
    {{printer.print_origin(state)}}{{names.name(init)}} = {{printer.print_expression(init.get_initial_value())}};
    {% endfor -%}
}

void neuron_model_print_state_variables(restrict neuron_pointer_t neuron){
    {%- for state in neuron.get_state_symbols() -%}
    log_debug("{{state.get_symbol_name()}} = %11.4k {{init.get_type_symbol().print_symbol()}}", neuron->{{names.convert_to_cpp_name(state.get_symbol_name())}});
    {% endfor %}
    {% for init in neuron.get_initial_values_symbols() -%}
    log_debug("{{init.get_symbol_name()}} = %11.4k {{init.get_type_symbol().print_symbol()}}", neuron->{{names.convert_to_cpp_name(init.get_symbol_name())}});
    {% endfor -%}
}

void neuron_model_print_parameters(restrict neuron_pointer_t neuron) {
    {% for parameter in neuron.get_parameter_symbols() -%}
    log_debug("{{parameter.get_symbol_name()}} = %11.4k {{parameter.get_type_symbol().print_symbol()}}", neuron->{{names.convert_to_cpp_name(parameter.get_symbol_name())}});
    {% endfor -%}
}